body{
    padding: 0%;
    margin: 0%;
    background-image: url(./desert-g07fefb45c_1920.jpg);
    
}
.navbar-brand{
    font-weight: bold;
    font-size: 2em;

}
/* .nav-item{
    margin-left: 10px;
} */
.container{

    border-radius: 20px;
    width: 500px;
    /* /* text-decoration: none;
    text-transform: none; */
    /* text-align: center;
    height: 70px;
    width: 500px;
    margin-left: 500px; */
} 
.text-center{
    font-weight: bold;
    background: rgb(170, 116, 116);
    border-radius: 30px;
    
} 
label{
    font-weight: bold;
    
}
